.nav-bar{
    background-color: #000;
    color: #15f231;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: x-large;
    font-weight: 600;
    min-height: 3rem;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
}
.nav-brand:hover, .nav:hover{
    cursor: pointer;
}
.user-cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(3rem + 2rem);
}